.navbar {
    background-color: #0b1b59;
    padding: 10px 250px;
}
.nav-link {
    color: white !important;
    font-weight: bold;
}
.nav-link:hover {
    color: #facc15 !important;
}
.register-btn {
    background: linear-gradient(to bottom, #facc15, #e3342f); 
    padding: 5px 12px; 
    border: none;
    color: white !important;
    font-weight: bold !important;
    text-decoration: none;
}
.register-btn:hover {
    background: linear-gradient(to bottom, #e3342f, #facc15);
}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-brand img {
    width: 50px;
    height: 50px;
}
.navbar-toggler{
    position: relative;
    left: 90%;
}
.nav-link.active {
    color: #facc15 !important;
    font-weight: bold;
}
@media (max-width: 1500px) {
    .navbar {
        padding: 10px 200px;
    }
}
@media (max-width: 1200px) { 
    .navbar {
        padding: 10px 8%;
    }
}
@media (max-width: 992px) {
    .navbar {
        padding: 10px 8%;
    }
}

@media (max-width: 768px) { 
    .navbar {
        padding: 10px 5%;
    }
    .navbar-brand {
        left: 50%;
        transform: none;
    }
    .navbar-toggler {
        right: auto;
    }
}

.footer { 
    background-color: #061b6c; 
    color: white; 
    text-align: center; 
    padding: 50px 20px; 
    font-family: 'Roboto', sans-serif;
}
.footer .contact-info a { 
    color: white; 
    text-decoration: none;
    font-weight: 700;
}
.footer .contact-info a:hover {
    text-decoration: underline;
}
.gradient-text {
    font-size: 40px;
    font-weight: bold;
}

@media (max-width:768px){
    .contact-info img{
        width: 80%;
    }
}